{
    "extends": ["airbnb/base", "import/warnings"],
    "parser": "babel-eslint",
    "plugins": ["modules", "import"],
    "rules": {
        "strict": 0
    },
    "env": {
        "commonjs": true,
        "node": true,
        "mocha": true
    },
}